/* TODO Add site wide styles */
#root {
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
}
/* NAVIGATION */

.nav-container {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: rgba(104, 5, 5, 1);
    color: white;
    font-weight: 900;
    justify-content: space-between;
}

.nav-container__h1 {
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    align-self: center;
}

.nav-container__icon-button {
    font-size: 18px;
    padding: 0 13px;
    position: relative;
}

.nav-container__left {
    display: flex;
    margin-left: 40px;
    align-self: center;
}

.nav-container__right {
    align-self: center;
    margin-right: 40px;
}

.nav-container__right--loggedOut {
    align-self: flex-end;
    color: white;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    align-self: flex-end;
    margin: 0 10px;
}

.link-selected {
    color: rgb(109, 11, 11);
    font-weight: 900;
}

.news-fetch-button {
    background-color: purple;
    color: white;
    border-radius: 16%;
}

/* Home */
.home-container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

/* Highlight Article */

.highlight-article {
    background-color: white;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.highlight-article__img {
    width: 35%;
}

.highlight-article__content__title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 30px;
}

.highlight-article__content__description {
    font-size: 18px;
    margin-top: 20px;
}

/* ARTICLE CARD */

.article-card {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 180px;
    width: 720px;
    /* background-color: red; */
    border: 1px solid gray;
}

.article-card__content {
    position: absolute;
    height: 40%;
    width: 80%;
    background-color: white;
}

.cat-search-container {
    width: 40%;
    margin: 20px;
}

.cat-select {
    width:70%;
    margin-left: 20px;
}
